
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer{
    background-color: limegreen
  }


  .nav-class{
    background-color: limegreen
  }

  .nav-wrapper .img{
    height: 65px;
  }

  .img{
      height: 700px;
  }

  .card-image {
    height: 100px
    width:100px
  }

  .card-reveal{
  padding: 15px 25px
  width: 600px;
}
